@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
body {
    font-family: 'Cinzel', serif;
    background: linear-gradient(180deg, #F5E7FF, #E0F7FA); 
    color: #555; 
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #4c2a77; 
    --cor2: #FFF8DC; 
    --cor3: #B0E0E6; 
    --cor4: #FFFFFF; 
    --cor5: #ff69b4; 
    --cor6: #2b0936; 
    --cor7: #A9A9A9; 
}

.navbar {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 1em 3em;
    background-color: var(--cor1); 
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo h1 {
    font-family: 'Lobster', cursive;
    color: var(--cor5);
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
    z-index: 2; 
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5em;
}

.nav-links a {
    color: var(--cor4);
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}
.navbar img {
    width: 70px;  
    height: auto;  
}
.nav-links a:hover {
    color: var(--cor3); 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
}

.hero {
    text-align: center;
    padding: 2em;
    background-color: var(--cor2); 
    border-radius: 10px;
    border: 2px solid var(--cor5); 
    margin-bottom: 2em;
}

.hero h1 {
    color: var(--cor5);
    text-shadow: 2px 2px 8px var(--cor5);
}

.topic {
    margin-bottom: 3em;
    border: 2px solid var(--cor5);
    border-radius: 10px;
    background-color: var(--cor2); 
    padding: 1.5em 1.5em 1.5em 2em; 
}
.topic h2 {
    color: var(--cor5);
    text-shadow: 2px 2px 8px var(--cor5);
    margin: 1.5em 1.5em 1.5em 2em; 
}

.topic-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1em;
}

.topic p {
    font-size: 1.1em;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 1em;
    margin-left: -2em;
}
.topic-video {
    width: 100%;
    border-radius: 10px;
}
.topic .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 150px; 
    margin-right: 50px;
    
}

.topic .container p {
    flex: 1; 
    margin: 0;
}

.topic #videos {
    flex: 1; 
}

.topic iframe {
    width: 100%;
    height: 250px;
    max-width: 500px; 
}
#banners {
    width: 100%;
    overflow: hidden;
    margin-top: 3em;;
}

#banners ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#banners ul li {
    display: inline-block;
    width: 100%;
    height: 550px;
}

#banners ul li img {
    width: 100%;
    height: auto;
}
#banners .bxslider li img {
    width: 100%; 
    height: 700px; 
    object-fit: cover; 
}
footer {
    background: linear-gradient(180deg, var(--cor6), #000000); 
    color: var(--cor4);
    padding: 2em;
    text-align: center;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
    margin-top: 3em;
}

footer .footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin-bottom: 1em;
}

footer .footer-links a {
    color: var(--cor4);
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

footer .footer-links a:hover {
    color: var(--cor5);
}

footer p {
    font-size: 0.9em;
    color: var(--cor7);
}