@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
body {
    font-family: 'Cinzel', serif;
    background: linear-gradient(180deg, #2b0936, #000000); 
    color: #fff;
    margin: 0;
    padding: 0;
    padding-top: 4em;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
:root{
    --cor1: #4c2a77;
    --cor2: #000;
    --cor3: #add8e6;
    --cor4: #FFF;
    --cor5: #ff69b4;
    --cor6: #2b0936;
    --cor7: #ccc;

}
.navbar {
    display: flex;
    justify-content:  space-around; 
    align-items: center;
    padding: 1em 3em;
    background-color: var(--cor1);
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}
.logo h1 {
    font-family: 'Lobster', cursive;
    color: var(--cor5);
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
    z-index: 2; 
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5em;
    justify-content: center;
    z-index: 2; 
}
.nav-links a {
    color: var(--cor4);
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--cor3); 
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5em;
}
.nav-links a {
    color: var(--cor4);
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}
.nav-links a:hover {
    color: var(--cor3); 
}
.navbar img {
    width: 70px;  
    height: auto;  
}
.container{
    max-width: 1500px;
    margin: 0 auto;
} 
.about {
    background-color: var(--cor4); 
    color: var(--cor6);
    padding: 2em;
    margin: 4em 4em 2em 2em; 
    border-radius: 10px; 
    border: 2px solid var(--cor5); 
    box-shadow: 0 0 20px rgba(255, 105, 180, 0.8); 
}
.about h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    text-shadow: 2px 2px 8px var(--cor5); 
}
.about p {
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: justify;
    margin-bottom: 1em;
}
footer {
    background: linear-gradient(180deg, #2b0936, #000000);
    color: var(--cor4);
    padding: 2em;
    text-align: center;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
    margin-top: 3em;
}

footer .footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin-bottom: 1em;
}

footer .footer-links a {
    color: var(--cor4);
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

footer .footer-links a:hover {
    color: var(--cor5);
}

footer p {
    font-size: 0.9em;
    color: var(--cor7);
}
